@import "../all.css?v=1.0004";

/* Index */
.biography-elem {
    border-bottom: 1rem solid var(--black3);
}

.flex-listing {
    border-radius: 0 0 10px 10px;
    color: var(--bs-gray-600);
    font-weight: bold;
    transition: var(--trans);
}

.flex-listing li {
    border-radius: 100vw;
    padding: .35rem 1.5rem;
    font-size: smaller;
    text-wrap: nowrap;
    border: 1px solid var(--white1);
    background-color: var(--secondaryClr4);
}