@import "../all.css?v=1.0004";
/* Index */

.project-elem .abs-images {
    min-height: 315px;
    animation: zoomInBack 1s 1;
}

.project-elem .abs-images > img:nth-child(2) {
    width: fit-content;
    max-width: 35%;
    top: 5%;
    right: 5%;
    box-shadow: 0 0 .5rem .25rem var(--black3);
    animation: flyInBottom 2s 1;
    transition: var(--trans);
    z-index: 1;
}

.project-elem .abs-images > img:nth-child(2):hover {
    box-shadow: 0 0 .5rem .25rem var(--primaryClr2);
}

.project-elem .project-info {
    line-height: 1.5rem;
}

/* @media screen and (min-width: 992px) {
    .project-elem .d-lg-flex {
        flex-direction: row-reverse;
    }
} */

.site-technologies {
    border-radius: 0 0 10px 10px;
    color: var(--secondaryClr);
    font-weight: bold;
    box-shadow: 0 .5rem 1rem var(--black4);
    transition: var(--trans);
}

.site-technologies:hover {
    background-color: var(--secondaryClr3);
}

.site-technologies li {
    border-radius: 100vw;
    padding: .35rem 1.5rem;
    font-size: smaller;
    text-wrap: nowrap;
    background-color: var(--secondaryClr3);
}